@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
body {
  background-color: #85c1a0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -235px;
  display: table-cell;
  vertical-align: middle;
  animation: rotate 5s infinite linear normal;
}

#Path1,
#Path2 {
  animation: Path 10s infinite ease-in-out;
}

#Oval-3 {
  animation: rotate-oval-3 5s infinite linear normal;
}

#Oval-4 {
  animation: rotate-oval-4 5s infinite linear normal;
}

#Oval-3-2 {
  animation: rotate-oval-3-2 5s infinite linear normal;
}

#Oval-4-2 {
  animation: rotate-oval-4-2 5s infinite linear normal;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-oval-3 {
  20% {
    transform: translateX(-3%) translateY(-4%);
  }
  60% {
    transform: translateX(-40%) translateY(-50%);
  }
}
@keyframes rotate-oval-4 {
  20% {
    transform: translateX(3%) translateY(4%);
  }
  60% {
    transform: translateX(40%) translateY(50%);
  }
}
@keyframes rotate-oval-3-2 {
  20% {
    transform: translateX(-3%) translateY(-4%);
  }
  60% {
    transform: translateX(130%) translateY(270%);
  }
}
@keyframes rotate-oval-4-2 {
  20% {
    transform: translateX(3%) translateY(4%);
  }
  60% {
    transform: translateX(-130%) translateY(-270%);
  }
}
@keyframes Path {
  20% {
    transform: translateX(-9%) translateY(-4%);
  }
  80% {
    transform: translateX(-19%) translateY(-5%);
  }
}
.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}
